<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReminderProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ReminderProgram.Properties.Settings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoNotDisturb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>3.0.0</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemindersPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReRemind" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </ReminderProgram.Properties.Settings>
    </userSettings>
</configuration>